# .misc
.env

# Folders
node_modules
sessionDocs
.vscode
test-results
workspace

# JavaScript files
test.js

# Ignore folders starting with proj_
proj_*/

# JSON files
sessions.json
usersfile.json
autoModeRequirements.json
autoModeState.json
autoModeSummaryState.json
routesConfig.json
